<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.sjec.ac.in/images/sjec-logo.png" type="image/x-icon">
    <title>Login page</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="loginBox"> 
        <h3>Sign in here</h3>
        <form action="/login" method="post">
            <div class="inputBox"> <input id="uname" type="text" name="Username" placeholder="Username"> <input id="pass" type="password" name="Password" placeholder="Password"> </div> <input type="submit" name="" value="Login">
        </form> <a href="#">Forget Password<br> </a>
        <div class="text-center">
            <p style="color: #59238F;">Sign-Up</p>
        </div>
    </div>
</body>
</html>